{% extends 'base.html.twig' %}

{% block title %}Liste des annonces de voitures{% endblock %}

{% block body %}

    <div class="container mt-5 ms-5">
        <h1 class="text-center">Liste des annonces de voitures</h1>
        <div class="row justify-content-around mt-5">
            <div class="col-5 mb-3 dropdown">
                <button class="ms-5 btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrer par marque
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for annonce in annonces %}
                        <li><a class="dropdown-item"
                               href="{{ path('single_brand', {brand: annonce.brand}) }}">{{ annonce.brand }}</a></li>
                        {#                    #}{#                    {{ path('single_brand', {brand: annonce.brand}) }} #}
                    {% endfor %}
                </ul>
            </div>
            {% if is_granted('ROLE_USER') %}
            <div class="col-5">
                <a class="btn btn-outline-success" href="{{ path('app_annonce_new') }}">Ajouter une annonce</a>
            </div>
            {% endif %}
        </div>
        <div class="row justify-content-center gap-3 mt-5">
            {% for annonce in annonces %}
                <div class="col-3 mt card rounded-3 align-center">
                    <div class=" card-body">
                        <h5 class="card-title fw-bold">{{ annonce.title }}</h5>
{#                        <p class="card-text"><span class="fw-bold">Description:</span> {{ annonce.description }}</p>#}
{#                        <p class="card-text"><span class="fw-bold">Modèle:</span> {{ annonce.model }}</p>#}
{#                        <p class="card-text"><span class="fw-bold">Marque:</span> {{ annonce.brand }}</p>#}
                        <p class="card-text"><span class="fw-bold">Prix:</span> {{ annonce.price }}</p>
{#                        <p class="card-text"><span class="fw-bold">Kilomètres:</span> {{ annonce.kilometers }}</p>#}
                        <p class="card-text"><span
                                    class="fw-bold">Année:</span> {{ annonce.year ? annonce.year|date('Y') : '' }}</p>
                        <p class="card-text"><span class="fw-bold">Carburant:</span> {{ annonce.fuel }}</p>
{#                        <p class="card-text"><span#}
{#                                    class="fw-bold">Permis:</span> {{ annonce.drivinglicence ? 'Oui' : 'Non' }}</p>#}
                        <div class="row justify-content-center gap-1">

                            <div class="col-3">
                                <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-primary">Voir</a>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="col-3">
                                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}"
                                       class="btn btn-secondary">Edit</a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                {% if annonce.isUserSignedFavorite(app.user) == false%}
                                    <div class="col-8">
                                        <a href="{{ path('app_annonce_favorite', {id: annonce.id}) }}" class="btn btn-outline-success">Ajouter en favori</a>
                                    </div>
                                {% else %}
                                    <div class="ms-2 col-9">
                                        <a href="{{ path('app_annonce_favorite', {id: annonce.id}) }}" class="btn btn-outline-danger">Supprimer des favoris</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
